/* these tyles need to be defined locally */
body {
    padding:0px;
    margin: 0px;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 13pt;
}

/* ad.html  - the ad that people view first */
#adlogo {
    float: right;
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
}

#container-ad {
    position: absolute;
    top: 0px; /* Header Height */
    bottom: 0px; /* Footer Height */
    left: 0px;
    right: 0px;
    padding: 100px;
    padding-top: 5%;
    border: 18px solid #f3f3f3;
    background: white;
}
.container{
  border: 18px solid #f3f3f3
}
.highlighter, .highlight{
    background:yellow;
}
.highlighter:hover {
  background:red;
  cursor: pointer; cursor: hand;
}
.error{
  color: red;
  font-weight: bold;
}

.center-Container {
  position: relative;
}

.absolute-Center {
  width: 5%;
  height: 30%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
